---
import { Code } from "astro:components";
import astroLogo from "../assets/astro.svg";
import Layout from "../layouts/Layout.astro";
import data from "/content/data.json" assert { type: "json" };
import model from "/content/model.json" assert { type: "json" };

// export const prerender = true;
---

<Layout>
  <div class="p-10 max-w-3xl mx-auto antialiased sm:text-2xl text-lg">
    <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
    <div class="mt-8">To manage website data, go to</div>
    <a
      href="/admin"
      class="px-3 py-1.5 rounded-lg bg-slate-800 text-white my-4 inline-block text-base"
      >Admin Dashboard</a
    >

    <div class="mt-10">Data</div>
    <Code
      code={JSON.stringify(data, null, "\t")}
      lang="js"
      class="p-4 rounded-lg mt-2 text-sm"
    />

    <div class="mt-10">Model</div>
    <Code
      code={JSON.stringify(model, null, "\t")}
      lang="js"
      class="p-4 rounded-lg mt-2 text-sm"
    />
  </div>
</Layout>
