---
import astroLogo from "../assets/astro.svg";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="p-10 max-w-2xl mx-auto antialiased">
    <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
    <div class="sm:text-2xl text-lg mt-8">To manage website, go to</div>
    <a
      href={Astro.request.url + "admin"}
      class="px-3 py-1.5 rounded-lg bg-slate-800 text-white my-4 inline-block"
      >{Astro.request.url}admin</a
    >
    <div class="mt-10">data: hello world</div>
  </div>
</Layout>
