---
import { Code } from "astro:components";
import astroLogo from "../assets/astro.svg";
import Layout from "../layouts/Layout.astro";
import { getData, getModel } from "../libs/util";

let model = getModel();
let data = await getData();

Astro.response.headers.set(
  "Vercel-CDN-Cache-Control",
  `s-maxage=1, stale-while-revalidate=${60 * 60 * 24}`
);
---

<Layout>
  <div class="p-10 max-w-3xl mx-auto antialiased">
    <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
    <div class="mt-8 text-2xl">Planet Template</div>
    <div class="mt-2 text-lg">Astro template with built-in CMS</div>
    <div class="flex gap-5 mt-4">
      <a
        href="/admin"
        class="px-4 py-1.5 rounded-lg bg-slate-800 text-white my-4 inline-block text-base"
        >Admin Dashboard</a
      >
      <a
        href="https://github.com/papazeal/astro-planet-template"
        class="px-4 py-1.5 rounded-lg border border-gray-500 my-4 inline-block text-base"
        >Docs</a
      >
    </div>

    <div class="mt-10">Data</div>
    <Code
      code={JSON.stringify(data, null, "  ")}
      lang="js"
      class="p-4 rounded-lg mt-2 text-sm"
    />

    <div class="mt-10">Model</div>
    <Code
      code={JSON.stringify(model, null, "  ")}
      lang="js"
      class="p-4 rounded-lg mt-2 text-sm"
    />
  </div>
</Layout>
