---
import Layout from "../layouts/Layout.astro";
import { SignIn } from "@clerk/astro/components";
---

<Layout>
  <div class="h-full flex justify-center px-6 py-10">
    <SignIn
      withSignUp={true}
      forceRedirectUrl="/admin"
      signUpForceRedirectUrl="/admin"
    />
  </div>
</Layout>
